.wrapper {
  border: 1px solid #dcdcdc;
  border-radius: .5rem;
  width: max-content;
  padding: 1rem 2rem;
}

.switch-btn {
  font-size: 1rem;
  border: none;
  background: #0080ff;
  color: white;
  border-radius: .25rem;
  padding: .25rem .5rem;
  box-shadow: 0 0 4px 0 rgb(119, 119, 119);
  transition: all .3s;
  font-weight: 300;
}

.switch-btn:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 0 6px 0 rgb(119, 119, 119);
}

.switch-icon {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  align-self: center;
}

.btn_disabled {
  opacity: .5;
}

.btn_disabled:hover {
  transform: scale(1, 1);
  box-shadow: 0 0 4px 0 rgb(119, 119, 119);
}
